.telaCadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #000000;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 90%;
  width: 400px;
  margin-bottom: 20px;
}

form input,
form select {
  border: 1px solid rgba(184, 184, 184, 0.562);
  height: 35px;
  background-color: #fff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

form button {
  background-color: rgb(25, 118, 210);
  height: 40px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: opacity 0.3s;
}

form button:hover {
  opacity: 0.8;
}

img {
  border: none;
  margin: auto;
  height: 100px;
  width: 100px;
}
