.telaLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 140px;
}

h1{
    color: #000000;
    font-size: 24px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        background-color: rgb(184, 184, 184);
        height: 40px;
        border: none;
        cursor: pointer;
    }

    & button:hover{
        color: rgb(37, 86, 247);
        opacity: 0.7;
    }

    & input{
        border: 1px solid rgba(184, 184, 184, 0.562);
        height: 35px;
        background-color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

img {
    border: none;
    margin: auto;
    height: 200px;
    width: 200px;
}