.SupTec {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    form#sup {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px;
        border-radius: 10px;
        background-color: white;
        max-width: 50%;
        width: 290px;
        margin-bottom: 20px;
        align-items: baseline;

        & h1#titulo{
            color: black;
            gap: 15px;
            font-size: medium;
        } 

        & h1#nome{
            color:black;
            font-size: small;
        }

        & h1#num{
            color: #000000 !important;
            font-size: x-small;
        }
    }
}